/*------------------
Mobile view 
-------------------*/
@media (max-width: 688px) {
    *{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header, main{
        padding: 0;
        margin: 0;
    }
    nav span h4{
        font-size: 16px;
        text-align: center;
    }
    .nav, .home, .banner-section, .featured-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home a{
        font-size: 14px;
        text-align: center;
    }
    .banner-section h1{
        font-size: 28px;
    }
    .banner-section p{
        font-size: 14px;
    }
    .banner-section a{
        text-align: center;
        font-size: 16px;
        padding: 5px 10px;
        display: block;
    }
    .fa-arrow-right{
        display: inline;
    }
    .banner-section img{
        width: 90%;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 20px;
    }
    .logo img{
        width: 60%;
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item{
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .grid-item .item-rating i{
        display: inline;
    }
    .see-more{
        display: block;
        margin: 30px;
    }
    .featured-products h1{
        font-size: 24px;
    }
    .social{
        display: flex;
        padding: 10px;
    }
}
/*------------------
Mobile view 
-------------------*/
/*------------------
Tab view 
-------------------*/
@media (min-width: 689px) and (max-width: 992px) {
    *{  
        max-width: 820px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header, main{
        padding: 0 50px;
        margin: 0;
    }
    .nav, .home, .banner-section, .featured-products{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .banner-section{
        width: 100%;
    }
    .banner-section a{
        text-align: center;
        font-size: 16px;
        padding: 5px 10px;
        display: block;
    }
    .fa-arrow-right{
        display: inline;
        padding-right: 0;
    }.logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 20px;
    }
    .logo img{
        width: 60%;
    }
    .popular-collection{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item{
        width: 80%;
        margin-bottom: 20px;
    }
    .grid-item .item-rating i{
        display: inline;
    }
    .featured-products{
        display: flex;
    }
    .see-more{
        display: block;
        margin: 30px;
    }
    .social{
        display: flex;
    }
}