/* ------------
fonts
------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    color: #3A3A3A;
}
header, main{
    padding: 0 120px;
}
/* ---------
common styles
------------ */
/* ---------
Header
------------ */
.name-color{
    color: #E02C6D;
}
nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h4{
    font-size: 24px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
    margin-right: 30px;

}
nav a:last-child{
    margin-right: 0;
}
nav a:hover{
    color: #E02C6D;
    transition: .4s;
}
/* -----------
Header end 
---------------*/
.flexible{
    display: flex;
    align-items: center;
}
.half{
    width: 50%;
}
.half h1{
    font-size: 40px;
}
.half p{
    font-size: 16px;
    margin-bottom: 20px;
}
.half a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #E02C6D;
    border-radius: 30px;
}
.half a:hover{
    background-color: #F3F1FF;
    color: #E02C6D;
    border: 2px solid #E02C6D;
    transition: .4s;
}
.half img{
    width: 90%;
}
/* ---------
Header
------------ */
/* --------------
Logos
--------------- */
.logos hr{
    margin: 20px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, gray));

}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
/* --------------
Logos
--------------- */
/* --------------
Popular collection
--------------- */
.popular h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}
.popular-collection{
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.grid-item{
    padding: 20px;
    box-shadow: 0 0 20px rgb(107, 107, 107);
    border-radius: 5px;
}
.item-name{
    font-size: 28px;
    font-weight: 500;
}
.item-price{
    font-size: 24px;
    font-weight: 300;
}
.item-rating, .item-description{
    font-size: 14px;
    font-weight: 300;
}
.item-rating span{
    font-weight: 500;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.see-more{
    font-size: 16px;
    font-weight: bold;
    margin: 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #E02C6D;
    text-decoration: none;
}
.fa-arrow-right{
    padding-left: 5px;
}
/* --------------
Popular collection
--------------- */
/* --------------
Featured products
--------------- */
.featured-products{
    margin-bottom: 100px;
}
.img img{
    width: 90%;
}
.featured-products>.img{
    width: 40%;
}
.featured-products>.text{
    width: 60%;
}
.text h1{
    font-size: 38px;
}
.text p{
    font-size: 16px;
    margin-bottom: 20px;
}
.text a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #E02C6D;
}
.text a:hover{
    background-color: #F3F1FF;
    color: #E02C6D;
    border: 2px solid #E02C6D;
    transition: .4s;
}
/* --------------
Featured products
--------------- */
/* --------------
Footer
--------------- */
.footer{
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    background-color: #0A0826;
}
.footer h1{
    font-size: 24px;
}
.footer p{
    font-size: 14px;
}
.social{
    margin-top: 20px;
    font-size: 18px;
}
.social a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.social a:last-child{
    margin-right: 0;
}
/* --------------
Footer
--------------- */