/* ------------
fonts
------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    padding: 0 120px;
    background-color: #ffffff;
    color: #3A3A3A;
}
/* ---------
common styles
------------ */
/* ---------
Header
------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h4{
    font-size: 24px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
    margin-right: 30px;

}
nav a:last-child{
    margin-right: 0;
}
nav a:hover{
    color: #E02C6D;
    transition: .4s;
}
/* -----------Nav end */
.flexible{
    display: flex;
    align-items: center;
}
.half{
    width: 50%;
}
.half h1{
    font-size: 40px;
}
.half p{
    font-size: 16px;
}
.half a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #E02C6D;
    border-radius: 30px;
}
.half a:hover{
    background-color: #ffffff;
    color: #E02C6D;
    border: 2px solid #E02C6D;
    transition: .4s;
}
.half img{
    width: 90%;
}
/* ---------
Header
------------ */
/* --------------
Logos
--------------- */
.logos hr{
    margin: 20px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, gray));

}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
/* --------------
Logos
--------------- */
/* --------------
Popular collection
--------------- */
.popular h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}
.popular-collection{
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.item-name{
    font-size: 28px;
    font-weight: 500;
}
.item-price{
    font-size: 24px;
    font-weight: 300;
}
.item-rating, .item-description{
    font-size: 14px;
    font-weight: 300;
}
.item-rating span{
    font-weight: 500;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* --------------
Popular collection
--------------- */